<a href="https://colab.research.google.com/github/kartik2627/python_basic/blob/main/lists%2Ctuple%2Csets%2Cdictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = ['ragav','krish','ranna','kartikay']
print(name)

['ragav', 'krish', 'ranna', 'kartikay']

In [ ]:
fruits = ['apple','banana','kiwi','cherry','orange','gauva']
print(fruits[2:5])

['kiwi', 'cherry', 'orange']

In [ ]:
print(fruits[:4])

['apple', 'banana', 'kiwi', 'cherry']

In [ ]:
print(fruits[:1])

['apple']

In [ ]:
college_name = ['UILS','MIT','NYU']
print(college_name)

['UILS', 'MIT', 'NYU']

In [ ]:
print(college_name[1])

MIT

In [ ]:
print(college_name[-1])

NYU

In [ ]:
#MODIFICATION OF LIST ELEMENTS
fruits = ['apple','banana','kiwi','cherry','orange','gauva']
fruits[1] = 'mango'
print(fruits)

['apple', 'mango', 'kiwi', 'cherry', 'orange', 'gauva']

In [ ]:
fruits[2] = 'pineapple'
print(fruits)

['apple', 'mango', 'pineapple', 'cherry', 'orange', 'gauva']

In [ ]:
CARS = ['Range-rover','BMW','Kia']
print(CARS)

['Range-rover', 'BMW', 'Kia']

In [ ]:
CARS.append('Audi')
print(CARS)

['Range-rover', 'BMW', 'Kia', 'Audi']

In [ ]:
fruits.insert(2,'grapes')
print(fruits)

['apple', 'mango', 'grapes', 'pineapple', 'cherry', 'orange', 'gauva']

In [ ]:
CARS.insert(1,'Benz')
print(CARS)

['Range-rover', 'Benz', 'BMW', 'Kia', 'Audi']

In [ ]:
fruits.remove('cherry')
print(fruits)

['apple', 'mango', 'grapes', 'pineapple', 'orange', 'gauva']

In [ ]:
popped_fruits = fruits.pop()
print(popped_fruits)

gauva

In [ ]:
fruits.index('apple')

0

In [ ]:
fruits.insert(3,'grapes')
fruits.count('grapes')

2

In [ ]:
fruits.clear()
print(fruits)

[]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers)
print(min(numbers))
print(max(numbers))
print(sum(numbers))
print(numbers[:5])
print(numbers[5:])
print(numbers[2:5])
print(numbers[-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9
45
[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[3, 4, 5]
9

In [ ]:
numbers[::2]

[1, 3, 5, 7, 9]

In [ ]:
fruits = ['apple','banana','kiwi','cherry','orange','gauva']
for x in fruits:
    print(x)

apple
banana
kiwi
cherry
orange
gauva

In [ ]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [ ]:
lst = []
for x in range (1,11):
    lst.append(x**2)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
for x in range (1,11):
    print(x*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
squared = [x**2 for x in range(1,11)]
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num = []
for i in range(11):
  if i % 2 == 0:
    num.append(i)
print(num)

[0, 2, 4, 6, 8, 10]

In [ ]:
even_number = [i for i in range(11) if i % 2 == 0]
print(even_number)

[0, 2, 4, 6, 8, 10]

In [ ]:
lst1 =[1,2,3,4,5]
lst2 =['a','b','c','d','e']
new_list = [(i,j) for i in lst1 for j in lst2]
print(new_list)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e')]

In [ ]:
positive_list = []
for i in range(1,21):
  positive_list.append(i)
print(positive_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
print(positive_list[0])
print(positive_list[-1])
middle_index = len(positive_list) // 2
print(positive_list[middle_index])

1
20
11

In [ ]:
print(positive_list[:5])
print(positive_list[-5:])
print(positive_list[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
squared_list = [x**2 for x in range (1,11)]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
import random as r
randdom_list = [r.randint(1,100) for i in range(10)]
print(randdom_list)

[94, 18, 1, 79, 49, 85, 70, 51, 71, 81]

In [ ]:
modified_list = sorted(randdom_list)
print(modified_list)

[1, 18, 49, 51, 70, 71, 79, 81, 85, 94]

In [ ]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
students = [
    {'name': 'Alice', 'score': 85},
    {'name': 'Bob', 'score': 92},
    {'name': 'Charlie', 'score': 78},
    {'name': 'David', 'score': 95},
]

In [ ]:
def transpose_matrix(matrix):
    return [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

transposed_matrix = transpose_matrix(matrix)
print("Original Matrix:", matrix)
print("Transposed Matrix:", transposed_matrix)

Original Matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed Matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
numbers = list(range(1, 11))

del numbers[6]
del numbers[4]
del numbers[2]
numbers.insert(5, 99)

print("Modified List:", numbers)

Modified List: [1, 2, 4, 6, 8, 99, 9, 10]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped_list = list(zip(list1, list2))
print("Zipped List:", zipped_list)

Zipped List: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
def reverse_list(lst):
    return lst[::-1]
original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print("Original List:", original_list)
print("Reversed List:", reversed_list)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

In [ ]:
def list_intersection(list1, list2):
    return [item for item in list1 if item in list2]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersected_list = list_intersection(list1, list2)
print("Intersection of Lists:", intersected_list)

Intersection of Lists: [4, 5]

In [ ]:
#TUPLE ARE collection of item which are immutable
empty_tuple = ()
print(empty_tuple)

()

In [ ]:
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
lst = list()
print(type(lst))

<class 'list'>

In [ ]:
number = (1,2,3,4,5)
print(number)

(1, 2, 3, 4, 5)

In [ ]:
num =tuple([1,2,3,4,5,6,7])
num

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
mixed_tuple = (1, 'hello', 3.14, True)
mixed_tuple

(1, 'hello', 3.14, True)

In [ ]:
num[0:1]

(1,)

In [ ]:
num[::]

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
num[-1]

7

In [ ]:
tuple_op1 = (1,2,3)
tuple_op2 = (4,5,6)
tuple_op3 = tuple_op1 + tuple_op2
print(tuple_op3)

(1, 2, 3, 4, 5, 6)

In [ ]:
num1 = 1,2,3,4,5,6,7
num2 = 8,9,10
num3 = num1 + num2
print(num3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
num3 * 3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10)

In [ ]:
lst = [1,2,3,4,5,6,7]
lst.append(8)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
num = (1,2,3,4,5,6,7)
num.count(1)
num.index(5)

4

In [ ]:
packed_tuple = (1,2,3,4,5,6,7)
print(packed_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
a,b,c,d,e,f,g = packed_tuple
print(a,b,c,d,e,f,g)

In [ ]:
number = (1,2,3,4,5,6)
first,*middle,last = number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
lst_nested = [[1,2,3],[4,5,6],[7,8,9]]
print(lst_nested)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)
for sublist in nested_tuple:
    for item in sublist:
        print(item,end=' ')
    print()

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1 2 3
4 5 6
7 8 9

In [ ]:
sample_tuple = (10, 20, 30, 40, 50)

# Accessing first, middle, and last elements
first = sample_tuple[0]
middle = sample_tuple[len(sample_tuple) // 2]
last = sample_tuple[-1]

print(f"First: {first}, Middle: {middle}, Last: {last}")

First: 10, Middle: 30, Last: 50

In [ ]:
sample_tuple = (10, 20, 30, 40, 50, 60, 70)

# Slicing the tuple
first_three = sample_tuple[:3]
last_three = sample_tuple[-3:]
middle_slice = sample_tuple[2:6]

print(f"First three: {first_three}")
print(f"Last three: {last_three}")
print(f"Elements from index 2 to 5: {middle_slice}")

First three: (10, 20, 30)
Last three: (50, 60, 70)
Elements from index 2 to 5: (30, 40, 50, 60)

In [ ]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

# Accessing element at second row and third column
element = matrix[1][2]

print("Matrix:", matrix)
print("Element at second row, third column:", element)

Matrix: ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Element at second row, third column: 6

In [2]:
sets = {1,2,3,4,5,6,7,8,9,0}
print(sets)
print(type(sets))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [3]:
my_sets =set()
print(my_sets)
print(type(my_sets))

set()
<class 'set'>

In [4]:
my_set = set([1,2,3,4,5,6,7,8,9])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
set_add = {1,2,3,4,5,6,7,8,9}
set_add.add(10)
set_add.add(11)
print(set_add)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [6]:
my_set.remove(4)
my_set

{1, 2, 3, 5, 6, 7, 8, 9}

In [7]:
my_set.discard(5)
my_set

{1, 2, 3, 6, 7, 8, 9}

In [8]:
my_set.discard(10)
my_set

{1, 2, 3, 6, 7, 8, 9}

In [9]:
my_set.pop()

1

In [10]:
my_set.clear()
my_set

set()

In [11]:
sets = {1,2,3,4,5}
print(3 in sets)
print(6 in sets)

True
False

In [12]:
sets1 = {1,2,3,4,5}
sets2 = {4,5,6,7,8}
print(sets1.union(sets2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
print(sets1.intersection(sets2))

{4, 5}

In [14]:
print(sets1.difference(sets2))

{1, 2, 3}

In [15]:
print(sets1.symmetric_difference(sets2))

{1, 2, 3, 6, 7, 8}

In [18]:
sets1.intersection_update(sets2)
sets1

{4, 5}

In [19]:
print(sets1.issubset(sets2))
print(sets1.issuperset(sets2))
print(sets1.isdisjoint(sets2))

True
False
False

In [20]:
limits=[1,2,3,3,4,5,5,7,9]
set_limits = set(limits)
print(set_limits)

{1, 2, 3, 4, 5, 7, 9}

In [21]:
text='This is sets example '
words = text.split()
unique_words = set(words)

In [22]:
print(unique_words)
print(len(unique_words))

{'sets', 'is', 'This', 'example'}
4

In [23]:
dictionary = {'name':'ragav','age':20,'city':'chennai'}
print(dictionary)

{'name': 'ragav', 'age': 20, 'city': 'chennai'}

In [24]:
dictionary.keys()

dict_keys(['name', 'age', 'city'])

In [25]:
dictionary.values()

dict_values(['ragav', 20, 'chennai'])

In [26]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [27]:
student={'name':'ragav','age':20,'city':'chennai','name':'sam',}
print(student)

{'name': 'sam', 'age': 20, 'city': 'chennai'}

In [28]:
print(student['name'])
print(student['age'])
print(student['city'])
print(student.get('name'))
print(student.get('age'))
print(student.get('city'))

sam
20
chennai
sam
20
chennai

In [29]:
modifying_dictionary = {'name':'ragav','age':20,'city':'chennai'}
modifying_dictionary['name'] = 'sam'
modifying_dictionary

{'name': 'sam', 'age': 20, 'city': 'chennai'}

In [30]:
modifying_dictionary['age'] = 21
modifying_dictionary

{'name': 'sam', 'age': 21, 'city': 'chennai'}

In [31]:
del modifying_dictionary['city']
modifying_dictionary

{'name': 'sam', 'age': 21}

In [32]:
keys = modifying_dictionary.keys()
print(keys)

dict_keys(['name', 'age'])

In [34]:
new_dictionary = {
    'fruits': ('apple', 'banana', 'orange'),
    'color': ('red', 'yellow', 'orange'),
    'price': (100, 200, 300)
}
print(new_dictionary)

{'fruits': ('apple', 'banana', 'orange'), 'color': ('red', 'yellow', 'orange'), 'price': (100, 200, 300)}

In [35]:
student_1 = {
    'name': 'Alice',
    'age': 20,
    'grade': 'A'
}

student_2 = {
    'name': 'Bob',
    'age': 22,
    'grade': 'B'
}

student_3 = {
    'name': 'Charlie',
    'age': 21,
    'grade': 'C'
}

students = [student_1, student_2, student_3]

for student in students:
    print(f"Name: {student['name']}, Age: {student['age']}, Grade: {student['grade']}")

Name: Alice, Age: 20, Grade: A
Name: Bob, Age: 22, Grade: B
Name: Charlie, Age: 21, Grade: C

In [36]:
for key,value in student.items():
    print(key,value)

name Charlie
age 21
grade C

In [37]:
students ={'student_1': {'name': 'Alice', 'age': 20, 'grade': 'A'},'student_2': {'name': 'Bob', 'age': 22, 'grade': 'B'},'student_3': {'name': 'Charlie', 'age': 21, 'grade': 'C'}}
students

{'student_1': {'name': 'Alice', 'age': 20, 'grade': 'A'},
 'student_2': {'name': 'Bob', 'age': 22, 'grade': 'B'},
 'student_3': {'name': 'Charlie', 'age': 21, 'grade': 'C'}}

In [38]:
print(students['student_1']['name'])
print(students['student_2']['age'])
print(students['student_3']['grade'])

Alice
22
C

In [40]:
for student_id,student_info in students.items():
    print(f"Student ID: {student_id}")
    for key,value in student_info.items():
        print(f"{key}: {value}")
    print()

Student ID: student_1
name: Alice
age: 20
grade: A

Student ID: student_2
name: Bob
age: 22
grade: B

Student ID: student_3
name: Charlie
age: 21
grade: C

In [41]:
sqaured_dict = {x:x**2 for x in range(1,11)}
print(sqaured_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [42]:
evens = {x:x**2 for x in range(1,11) if x % 2 == 0}
print(evens)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [43]:
number =[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
unique_number = {x for x in number}
print(unique_number)

{1, 2, 3, 4, 5}

In [44]:
dict_1 = {'a': 1, 'b': 2, 'c': 3}
dict_2 = {'d': 4, 'e': 5, 'f': 6}
merged_dict = {**dict_1, **dict_2}

In [45]:
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [46]:
SETS =set(range(1,11))
print(SETS)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [48]:
SETS.add(11)
SETS.remove(1)
SETS

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [50]:
set_1 =set(range(1,6))
sets_2 =set(range(1,11,2))
print(f'union: {set_1.union(sets_2)}')
print(f'intersection: {set_1.intersection(sets_2)}')
print(f'difference: {set_1.difference(sets_2)}')

union: {1, 2, 3, 4, 5, 7, 9}
intersection: {1, 3, 5}
difference: {2, 4}

In [51]:
s = {1, 2, 2, 3, 4, 4, 5}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5}

In [52]:
set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

In [53]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

In [54]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [55]:
s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5

In [56]:
s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [57]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [58]:
s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}