<a href="https://colab.research.google.com/github/kartik2627/python_basic/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist = [1,2,'list',3,4]
print(mylist)

[1, 2, 'list', 3, 4]

In [ ]:
total_size = get_total_size(mylist)
print(total_size)

NameError: name 'get_total_size' is not defined

In [ ]:
t = ('gujrat','Himachal','Haryana','Karnatka','west bengal')
print(t)

('gujrat', 'Himachal', 'Haryana', 'Karnatka', 'west bengal')

In [ ]:
t = ('Gujrat','Himachal','Himachal ','Haryana','Karnatka','West Bengal')
print(t)

('Gujrat', 'Himachal', 'Himachal ', 'Haryana', 'Karnatka', 'West Bengal')

In [ ]:
print(len(t))
print(t.count('Himachal'))
print(type(t))

6
1
<class 'tuple'>

In [ ]:
print(t[0],t[1],t[3])

Gujrat Himachal Haryana

In [ ]:
t.insert(2,'punjab')
print(t)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
t[1] = 'punjab'

TypeError: 'tuple' object does not support item assignment

In [ ]:
list = list(t)
print(list)

['Gujrat', 'Himachal', 'Himachal ', 'Haryana', 'Karnatka', 'West Bengal']

In [ ]:
list[2]='punjab'
print(list)

['Gujrat', 'Himachal', 'punjab', 'Haryana', 'Karnatka', 'West Bengal']

In [ ]:
mytuple = tuple(list)
print(mytuple)

('Gujrat', 'Himachal', 'punjab', 'Haryana', 'Karnatka', 'West Bengal')