<a href="https://colab.research.google.com/github/kartik2627/python_basic/blob/main/SQLITE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

In [3]:
connection =  sqlite3.connect('example.db')
connection

In [4]:
from sqlite3.dbapi2 import Cursor
Cursor = connection.cursor()
Cursor

In [6]:
import sqlite3

# Connect to SQLite database (creates the database if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object
cursor = conn.cursor()

# Create table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

# Commit the changes
conn.commit()

# Close the connection
conn.close()

print("Table created successfully!")

Table created successfully!

In [9]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Insert a record
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('John', 25))

# Commit the changes
conn.commit()

# Now, let's fetch and print the data to verify the insertion
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print(rows)  # This will display all rows from the 'users' table

# Close the connection
conn.close()

[(1, 'John', 25)]

In [10]:
import sqlite3

# Connect to SQLite database (creates the database if it doesn't exist)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# 1. Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')
conn.commit()
print("Table 'users' created successfully.")

# 2. Insert data into the table
users = [('John', 25), ('Alice', 30), ('Bob', 22), ('Emma', 28)]
cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?)", users)
conn.commit()
print("Data inserted successfully.")

# 3. Query data from the table (read)
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print("\nUsers in the table after insertion:")
for row in rows:
    print(row)

Table 'users' created successfully.
Data inserted successfully.

Users in the table after insertion:
(1, 'John', 25)
(2, 'John', 25)
(3, 'Alice', 30)
(4, 'Bob', 22)
(5, 'Emma', 28)

In [11]:
# 4. Update data in the table
cursor.execute("UPDATE users SET age = ? WHERE name = ?", (26, 'John'))
conn.commit()
print("\nUpdated John's age to 26.")

# Query the updated data
cursor.execute("SELECT * FROM users WHERE name = ?", ('John',))
updated_row = cursor.fetchone()
print(f"John's updated record: {updated_row}")

# 5. Delete data from the table
cursor.execute("DELETE FROM users WHERE name = ?", ('Bob',))
conn.commit()
print("\nDeleted Bob from the table.")

# Query data after deletion
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print("\nUsers in the table after deletion:")
for row in rows:
    print(row)

# 6. Drop the table (optional)
cursor.execute("DROP TABLE IF EXISTS users")
conn.commit()
print("\nTable 'users' dropped successfully.")

# Close the connection
conn.close()

Updated John's age to 26.
John's updated record: (1, 'John', 26)

Deleted Bob from the table.

Users in the table after deletion:
(1, 'John', 26)
(2, 'John', 26)
(3, 'Alice', 30)
(5, 'Emma', 28)

Table 'users' dropped successfully.

In [12]:
import sqlite3

# Connect to SQLite database (creates the database if it doesn't exist)
conn = sqlite3.connect('sales.db')
cursor = conn.cursor()

# 1. Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_name TEXT NOT NULL,
    sale_amount REAL NOT NULL,
    sale_date TEXT NOT NULL,
    customer_name TEXT
)
''')
conn.commit()
print("Table 'sales' created successfully.")

# 2. Insert sales data into the table
sales_data = [
    ('Laptop', 1200.50, '2024-10-01', 'John Doe'),
    ('Phone', 800.75, '2024-10-02', 'Alice Smith'),
    ('Tablet', 400.99, '2024-10-02', 'Bob Johnson'),
    ('Monitor', 300.45, '2024-10-03', 'Emma Wilson'),
]
cursor.executemany("INSERT INTO sales (product_name, sale_amount, sale_date, customer_name) VALUES (?, ?, ?, ?)", sales_data)
conn.commit()
print("Sales data inserted successfully.")

# 3. Query data from the sales table
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()
print("\nSales Data after insertion:")
for row in rows:
    print(row)

# 4. Update a sale's data
cursor.execute("UPDATE sales SET sale_amount = ? WHERE product_name = ?", (1300.00, 'Laptop'))
conn.commit()
print("\nUpdated the sale amount of 'Laptop' to 1300.00.")

# Query the updated data
cursor.execute("SELECT * FROM sales WHERE product_name = ?", ('Laptop',))
updated_row = cursor.fetchone()
print(f"Laptop's updated record: {updated_row}")

# 5. Delete a sale's data
cursor.execute("DELETE FROM sales WHERE product_name = ?", ('Tablet',))
conn.commit()
print("\nDeleted 'Tablet' from the sales data.")

# Query data after deletion
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()
print("\nSales Data after deletion:")
for row in rows:
    print(row)

# 6. Drop the table (optional)
cursor.execute("DROP TABLE IF EXISTS sales")
conn.commit()
print("\nTable 'sales' dropped successfully.")

# Close the connection
conn.close()

Table 'sales' created successfully.
Sales data inserted successfully.

Sales Data after insertion:
(1, 'Laptop', 1200.5, '2024-10-01', 'John Doe')
(2, 'Phone', 800.75, '2024-10-02', 'Alice Smith')
(3, 'Tablet', 400.99, '2024-10-02', 'Bob Johnson')
(4, 'Monitor', 300.45, '2024-10-03', 'Emma Wilson')

Updated the sale amount of 'Laptop' to 1300.00.
Laptop's updated record: (1, 'Laptop', 1300.0, '2024-10-01', 'John Doe')

Deleted 'Tablet' from the sales data.

Sales Data after deletion:
(1, 'Laptop', 1300.0, '2024-10-01', 'John Doe')
(2, 'Phone', 800.75, '2024-10-02', 'Alice Smith')
(4, 'Monitor', 300.45, '2024-10-03', 'Emma Wilson')

Table 'sales' dropped successfully.

In [13]:
import sqlite3

# Connect to SQLite database (creates the database if it doesn't exist)
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

# 1. Create a table for student data
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    grade TEXT NOT NULL,
    enrollment_date TEXT NOT NULL
)
''')
conn.commit()
print("Table 'students' created successfully.")

# 2. Insert student data into the table
students_data = [
    ('John Doe', 14, '8th', '2023-09-01'),
    ('Alice Smith', 12, '7th', '2023-09-01'),
    ('Bob Johnson', 15, '9th', '2023-09-01'),
    ('Emma Wilson', 13, '7th', '2023-09-01'),
]
cursor.executemany("INSERT INTO students (name, age, grade, enrollment_date) VALUES (?, ?, ?, ?)", students_data)
conn.commit()
print("Student data inserted successfully.")

# 3. Query data from the students table
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
print("\nStudent Data after insertion:")
for row in rows:
    print(row)

# 4. Update a student's data
cursor.execute("UPDATE students SET grade = ? WHERE name = ?", ('10th', 'Bob Johnson'))
conn.commit()
print("\nUpdated Bob Johnson's grade to 10th.")

# Query the updated data
cursor.execute("SELECT * FROM students WHERE name = ?", ('Bob Johnson',))
updated_row = cursor.fetchone()
print(f"Bob Johnson's updated record: {updated_row}")

# 5. Delete a student's data
cursor.execute("DELETE FROM students WHERE name = ?", ('Alice Smith',))
conn.commit()
print("\nDeleted 'Alice Smith' from the students data.")

# Query data after deletion
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
print("\nStudent Data after deletion:")
for row in rows:
    print(row)

# 6. Drop the table (optional)
cursor.execute("DROP TABLE IF EXISTS students")
conn.commit()
print("\nTable 'students' dropped successfully.")

# Close the connection
conn.close()

Table 'students' created successfully.
Student data inserted successfully.

Student Data after insertion:
(1, 'John Doe', 14, '8th', '2023-09-01')
(2, 'Alice Smith', 12, '7th', '2023-09-01')
(3, 'Bob Johnson', 15, '9th', '2023-09-01')
(4, 'Emma Wilson', 13, '7th', '2023-09-01')

Updated Bob Johnson's grade to 10th.
Bob Johnson's updated record: (3, 'Bob Johnson', 15, '10th', '2023-09-01')

Deleted 'Alice Smith' from the students data.

Student Data after deletion:
(1, 'John Doe', 14, '8th', '2023-09-01')
(3, 'Bob Johnson', 15, '10th', '2023-09-01')
(4, 'Emma Wilson', 13, '7th', '2023-09-01')

Table 'students' dropped successfully.